<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KFZ-Kennzeichen nachschlagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-searchbar placeholder="KFZ-Kennzeichen"
                 (ionInput)="onSearchBarEingabe($event)"
                 [debounce]="500"
                 show-clear-button="always" />
  <!-- debounce: "entprellen"; Zeit in ms, um die das Feuern des
       vents "onInput" verzögert wird. -->


  <ion-list>
    <ion-item *ngFor="let datensatz of suchergebnisArray">
      <ion-label>{{datensatz.kennzeichen}}</ion-label>
      <ion-label>{{datensatz.stadtKreis}}</ion-label>
      <ion-label>{{datensatz.bundesland}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
